{% extends 'profile_etudiant/layout.html.twig' %}

{% block title %}mon espace {% endblock %}

{% block bodylayout %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class ="cadre-header">INFORMATIONS GENERALES</h6></div>
                <div class ="cadre-body shadow p-3 mb-5 bg-white rounded">
                    {% if(etudiant) %}
                    <div class="cadre-header">
                        <img src="/uploads/images/{{ etudiant.photo }}" class="img-thumbnail" width="120px" alt="mon photo">
                        <div><a class="btn btn-secondary btn-sm " href="#">Editer mon profil</a></div>                     
                    </div>
                    <div class="text-center">
                        <ul class="navbar-nav">
                            <hr>
                            <li >{{ etudiant.matricule }}</li> 
                            <hr>
                            <li>{{ etudiant.prenom }} {{ etudiant.nom }} </li>
                            <hr>
                            <li> {{ etudiant.email }}</li>
                            <hr>
                            <li> {{ etudiant.telephone }}</li>
                            <hr>
                            <li> {{ etudiant.adresse }}</li>
                           
                        </ul>
                    </div>
                    
                {%endif %}
                </div>
                
            </div>
            <div class="col-8">
                <div class="cadre-header"> Informations Pedagogiques </div>
                <div class="cadre-body shadow p-3 mb-5 bg-white rounded">
                </div>
                <div class="cadre-header">NOTES </div>
                <div class="cadre-body shadow p-3 mb-5 bg-white rounded">
                   
                </div>
                <div class="cadre-header"> ABSENCES </div>
                <div class="cadre-body shadow p-3 mb-5 bg-white rounded">
                    
                </div>
            </div>

        </div>
        
        </div>
    </div>
{% endblock %}
