{% extends 'profile_etudiant/layout.html.twig' %}

{% block title %}mon espace {% endblock %}

{% block bodylayout %}
    <div class="container">
        <h4>INFORMATIONS GENERALES</h4>
        <ul>
            <li><strong>Matricule</strong> : {{ etudiant.matricule }}</li>
            <li><strong>Nom</strong> : {{ etudiant.nom }}</li>
            <li><strong>Prenom</strong> : {{ etudiant.prenom }}</li>
            <li><strong>Email</strong> : {{ etudiant.email }}</li>
            <li><strong>Telephone</strong> : {{ etudiant.telephone }}</li>
            <li><strong>Date De Naissance </strong> : {{ etudiant.dateNaissance | date("m/d/y") }}</li>
            <li><strong>Lieu De Naissance</strong> : {{ etudiant.lieuNaissance }}</li>
            <li><strong>Photo</strong> : {{ etudiant.photo }}</li>
            <li><strong>CIN</strong> : {{ etudiant.cin }}</li>
            
        </ul>
        <h4>NOTES</h4>
        <h4>ABSENCES</h4>
        
        </div>
    </div>
{% endblock %}
