{% extends 'profile_etudiant/layout.html.twig' %}

{% block title %}Hello ProfileEtudiantController!{% endblock %}

{% block bodylayout %}
    <div class="row mt-2">
        <div class="col-4">
            <div class="cadre-header">Liste des Matieres</div>
            <div class="cadre-body shadow p-3 mb-5 bg-white rounded">
                {% if(matieres) %}
                <div class="list-group">
                    {% for matiere in matieres %}
                        <a class="list-group-item list-group-item-action {%if current_matiere==matiere.libelle %} active {%endif%}" href="{{ path('etudiant_support', {'id': matiere.id}) }}">{{ matiere.libelle }}</a>
                    {%endfor%} 
                </div>  
            </div>
        </div>
        <div class="col-8">
            <div class="cadre-header">Mes Supports de Cours <h6>{{current_matiere }}</h6> </div>
            <div class="cadre-body shadow p-3 mb-5 bg-white rounded">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Cours Magistral</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Travaux Diriges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Travaux Pratiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Autres</a>
                    </li>
                </ul>
                <table class="table table-sm p-2 table-hover">
                    <thead>                   
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Telecharger</th>
                    </thead>
                    <tbody>
                        {% for support in current_support %}
                        <tr>
                            <td>{{support.titre }}</td>
                            <td>{{support.description  }}</td>
                            <td>{{support.nomfichier  }}</td>
                        </tr>
                        {%else%} 
                        <tr >
                            <td class="text-center" colspan="3">Pas de Support</td></tr> 
                        {%endfor%}
                    </tbody>  
                    
                </table>
            </div>
        </div>
        {% else %}
                <h5>Aucune matieres inscrites</h5>
        {% endif %}
        </div>
           
    </div>
    
{% endblock %}