{% extends 'profile_enseignant/layout.html.twig' %}

{% block title %}Hello ProfileEnseignantController!{% endblock %}

{% block bodylayout %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class ="cadre-header ">INFORMATIONS GENERALES</h6></div>
            <div class ="cadre-body shadow p-3 mb-5 bg-white rounded">
                {% if(enseignant) %}   
                <div class="cadre-header">
                    <img src="/uploads/images/{{ enseignant.photo }}" class="img-thumbnail" width="150px" height="150px" alt="mon profil">
                    <div><a class="btn btn-secondary btn-sm " href="#">Editer mon profil</a></div>                     
                </div> 
                <div class="text-center" >
                    <ul class="navbar-nav"><hr>
                        <li>{{ enseignant.matricule }}</li><hr>
                        <li>{{ enseignant.grade }} {{ enseignant.prenom }} {{ enseignant.nom }}</li><hr>
                        <li>{{ enseignant.email }}</li><hr>
                        <li>{{ enseignant.telephone }}</li><hr>
                        <li>{{ enseignant.adresse  }}</li><hr>
                        <li>{{ enseignant.specialite }}</li>
                    </ul>
                </div>               
                
                {%endif %}
            </div>      
        </div>
        <div class="col-8">
            <div class="cadre-header">EDT </div>
            <div class="cadre-body shadow p-3 mb-5 bg-white rounded"></div>

    </div>
    
    </div>
</div>

{% endblock %}

