{% extends 'profile_enseignant/layout.html.twig' %}

{% block title %}Hello ProfileEnseignantController!{% endblock %}

{% block bodylayout %}
<div >
    <h3>Informations Generales</h3>
    <ul>
        <li><strong>Matricule</strong> : {{ enseignant.matricule }}</li>
        <li><strong>Nom</strong> : {{ enseignant.nom }}</li>
        <li><strong>Prenom</strong> : {{ enseignant.prenom }}</li>
        <li><strong>Email</strong> : {{ enseignant.email }}</li>
        <li><strong>Telephone</strong> : {{ enseignant.telephone }}</li>
        <li><strong>Adresse </strong> : {{ enseignant.adresse  }}</li>
        <li><strong>Grade</strong> : {{ enseignant.grade }}</li>
        <li><strong>Specialite</strong> : {{ enseignant.specialite }}</li>
        <li><strong>photo</strong> : {{ enseignant.photo }}</li>
        
    </ul>
</div>
{% endblock %}

