{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('enseignant_profile')  }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('enseignant_planning')  }}">Planning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('support_index')  }}">Support de Cours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('depot_index')   }}">Espace de Depot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ path('enseignant_discussion') }}">Discussion</a>
          </li>
        </ul>
        {% if app.user %}
        <div class="d-flex">
           {{ app.user.username }}<a href="{{ path('app_logout') }}"> Logout</a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block bodylayout %}

  {% endblock %}
{% endblock %}
