{% extends 'profile_enseignant/layout.html.twig' %}

{% block title %}Gerer les Supports{% endblock %}

{% block bodylayout %}
    <div class="row mt-2">
        <div class="col-4">
            <div class="cadre-header">Liste des Matieres</div>
            <div class="cadre-body shadow p-3 mb-5 bg-white rounded">
                <div class="list-group">
                    {% for matiere in matieres %}
                        <a class="list-group-item list-group-item-action {%if current_matiere==matiere.libelle %} active {%endif%}" href="{{ path('support_index', {'id': matiere.id}) }}"> {{ matiere.libelle }}</a>
                    {% else %}
                        <a class="list-group-item list-group-item-action">Aucune Matiere</a>
                {% endfor %}  
                </div>
            </div>
        </div>
        <div class="col-8">
            {%block partieSupport %}
                <div class="cadre-header">Mes Support de Cours <h6>{{current_matiere }}</h6> </div>
                <div class="cadre-body shadow p-3 mb-2 bg-white rounded">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Type de seance</th>
                                <th>Titre</th>
                                <th>fichier</th>
                                <th>Afficher</th>
                                <th>Editer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for support in current_support %}
                            <tr>
                                <td>{{ support.typeSupport }}</td>
                                <td>{{ support.titre }}</td>
                                <td> 
                                    <a href="{{ asset('uploads/pdf/'~ support.nomfichier) }}">
                                        <i class="fa fa-file fa-lg" ></i>&nbsp;voir fichier</a>
                                </td>
                                <td>
                                    <a href="{{ path('support_show', {'id': support.id}) }}">
                                        <i class="fas fa-folder"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('support_edit', {'id': support.id}) }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="5">Aucun support</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>      
                </div>
                <a class="btn btn-secondary btn-sm " href="{{ path('support_new') }}">Nouveau support</a>
            {% endblock %}
        </div>  
    </div>
    
{% endblock %}
