{% extends 'depot_travaux/index.html.twig' %}

{% block title %}Depot Travaux{% endblock %}

{%block partieDepot %} 
    <div class ="cadre-header">Depot Travaux</div>  
    <div class ="cadre-body shadow p-3 mb-5 bg-white rounded">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ depot_travaux.id }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ depot_travaux.description }}</td>
                </tr>
                <tr>
                    <th>DateCreation</th>
                    <td>{{ depot_travaux.dateCreation ? depot_travaux.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Dateline</th>
                    <td>{{ depot_travaux.dateline ? depot_travaux.dateline|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Fichier</th>
                    <td>{{ depot_travaux.fichier }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{{ path('depot_index') }}">retourner</a>
    <a href="{{ path('depot_edit', {'id': depot_travaux.id}) }}">Editer</a>
    {{ include('depot_travaux/_delete_form.html.twig') }}
{% endblock %}
